/* Estilos para el body */
body {
  background-color: #191919;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.6;
  padding-left: 15px;
  padding-right: 15px;
}



/* Estilos para el formulario */
.formulario {
  margin: 50px auto;
  padding: 20px;
  background-color: #333333;
  border: 2px solid #FFD700;
  border-radius: 10px;
}

.buscar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos para los inputs y select */
.input-mac input, .select-mac select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 2px solid #FFD700;
  background-color: #333333;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.6;
}

.input-mac input:focus, .select-mac select:focus {
  outline: none;
  border: 2px solid #FFD700;
}

.select-mac::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #FFD700;
}

.select-mac select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Estilos para los botones */
.button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #FFD700;
  background-color: #333333;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.button:hover {
  background-color: #FFD700;
  color: #333333;
}

#Especialidad:hover{
  background-color: #FFD700;
  color: #333333;
  transition: all 0.5s ease-in-out;
}
#Especialidad{
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

#Sexo:hover{
  background-color: #FFD700;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

/* Estilos para la tabla */
.listadoAlumnos {
  margin: 50px auto;
  padding: 20px;
  background-color: #333333;
  border: 2px solid #FFD700;
  border-radius: 10px;
}

.listadoAlumnos h1 {
  margin-bottom: 20px;
  color: white;
}

#alumnos-lista {
  width: 100%;
  border-collapse: collapse;
}

#alumnos-lista th, #alumnos-lista td {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #FFD700;
  color: white;
}

#alumnos-lista th {
  background-color: #FFD700;
  color: #000000;
}

#alumnos-lista tbody tr:hover {
  background-color: #555555;
  cursor: pointer;
}

.acciones{
  display: grid; 
  place-items: center;
}

.ventanaBuscar{
  margin: 10px;
  padding: 25px;
  background-color: #333333;
  border: 2px solid #FFD700;
  border-radius: 10px;
}

#ventanaEmergente{
  background-color: #000000;
  border-color: #FFD700;
  transition: 0.5s;
}


#ventanaEmergente:hover{
  transition: 0.5s;
  background-color: #333333;
}


/*Modo oscuro*/
button#dark-mode-btn {
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #333333;
  background-color: #FFD700;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  transition: 0.5s;
   
}

button#dark-mode-btn:hover {
  color: #000000;
 
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #000000;
  
 
}

button#dark-mode-btn.dark-mode {
  background-color: #202020;
  color: #f2f2f2;
  border: 2px solid #FFD700;
  
}

